<%= form_for @bin do |f| %>
  <%= render partial: "layouts/errors", locals: { object: @bin } %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :bushel_capacity %>
		<%= f.text_field :bushel_capacity %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
