<%= form_for @bin do |f| %>
	<% if @bin.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@bin.errors.count, "error") %>
				prohibited this bin from being saved:
			</h2>
			
			<ul>
			<% @bin.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :bushel_capacity %>
		<%= f.text_field :bushel_capacity %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>