<h1>Add a new Bin</h1>

<% if @bin.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@bin.errors.count, "error") %>
			prohibited this bin from being saved:
		</h2>
		
		<ul>
		<% @bin.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @bin do |f| %>
	<label>Bin Name:</label><br>
	<%= f.text_field :name %><br>
	<label>Bushel Capacity:</label><br>
	<%= f.text_field :bushel_capacity %><br>

	<%= f.submit %>
<% end %>

<%= link_to 'Back', bins_path %>