<p>
	<strong>Bin Name:</strong>
	<%= @bin.name %>
</p>

<p>
	<strong>Bushel Capacity:</strong>
	<%= @bin.bushel_capacity %>
</p>

<p>

<p>
  <strong>Total Dry Bushels:</strong>
  <%= @total_dry_bushels %>
</p>

<%= link_to 'Edit', edit_bin_path(@bin) %>
<%= link_to 'Back', bins_path %>


