<%= link_to 'Edit', edit_bin_path(@bin) %>
<%= link_to 'Back', bins_path %>
<%= link_to "Show all Drivers", bin_drivers_path(@bin.id) %>
<%= link_to "Show all Fields", bin_fields_path(@bin.id) %>
<%= link_to "Show all Loads", bin_tloads_path(@bin.id) %>
<%= link_to "Add New Load", new_bin_tload_path(@bin.id) %>
<p>
	<strong>Bin Name:</strong>
	<%= @bin.name %>
</p>

<p>
	<strong>Bushel Capacity:</strong>
	<%= @bin.bushel_capacity %>
</p>

<p>

<p>
  <strong>Total Dry Bushels:</strong>
  <%= @total_dry_bushels %>
</p>

<p>
  <strong>Total Wet Bushels:</strong>
  <%= @total_wet_bushels %>
</p>

<p>
  <strong>Current Level:</strong>
  <%= @current_level %>%
</p>

</p>



