<h1>Log In with Email:</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'Log in' %>
<% end %>

<h3>Log In with Github:</h3>
<p><%= link_to "Log In", "/auth/github" %></p>
