<h1>All Loads</h1>

<%= link_to "New load", new_load_path %>

<table>
	<tr>
		<th>Load In</th>
		<th>Load Out</th>
		<th>Test Weight</th>
	</tr>
	<% @loads.each do |load| %>
		<tr>
			<td><%= load.load_in %></td>
			<td><%= load.load_out %></td>
			<td><%= load.test_weight %></td>
			<td><%= link_to 'Show', load_path(load) %></td>
			<td><%= link_to 'Edit', edit_load_path(load) %></td>
			<td><%= link_to 'Destroy', load_path(load), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>