<p>
  <strong>Crop:</strong>
  <%= @load.test_weight %>
</p>

<p>
	<strong>Load In:</strong>
	<%= @load.load_in %>
</p>

<p>
	<strong>Load Out:</strong>
	<%= @load.load_out %>
</p>

<p>
  <strong>Bushels:</strong>
</p>

<p>
  <strong>Driver:</strong>
</p>

<p>
  <strong>Bin:</strong>
</p>

<p>
  <strong>Field:</strong>
</p>

<p>
  <strong>Net Weight:</strong>
</p>

<%= link_to 'Edit', edit_load_path(@load) %>
<%= link_to 'Back', loads_path %>
