<p>
	<strong>Load In:</strong>
	<%= @load.load_in %>
</p>

<p>
	<strong>Load Out:</strong>
	<%= @load.load_out %>
</p>

<p>
	<strong>Test Weight:</strong>
	<%= @load.test_weight %>
</p>

<%= link_to 'Edit', edit_load_path(@load) %>
<%= link_to 'Back', loads_path %>