<%= form_for @tload do |f| %>
  <%= render partial: "layouts/errors", locals: { object: @tload } %>

  <p>
  <%= f.select(:in_out, ["+ Load In", "- Load Out"] ) %>
  </p>

	<p>
		<%= f.label :load_full %>
		<%= f.number_field :load_full %>
	</p>

	<p>
		<%= f.label :load_empty %>
		<%= f.number_field :load_empty %>
	</p>

	<p>
		<%= f.label :crop %>
		<%= f.select(:crop, [ "Corn", "Soybeans" ]) %>
	</p>

  <p>
    <%= f.label :moisture %>
    <%= f.number_field :moisture %>
  </p>

  <br></br>
  <% if @bin %>
    <p>Bin: <%= @bin.name %></p>
    <%= f.hidden.field :bin_id %>
  <% else %>
    <%= f.label :bin_id, "Select a Bin" %>
    <%= f.collection_select(:bin_id, current_user.bins, :id, :name, prompt: true) %>
  <% end %>
  <br></br>
  <% if @driver %>
    <p>Driver: <%= @driver.name %></p>
    <%= f.hidden.field :driver_id %>
  <% else %>
    <%= f.label :driver_id, "Select a Driver" %>
    <%= f.collection_select(:driver_id, current_user.drivers, :id, :name, prompt: true) %>
  <% end %>
  <br></br>
  <% if @field %>
    <p>Field: <%= @field.name %></p>
    <%= f.hidden.field :field_id %>
  <% else %>
    <%= f.label :field_id, "Select a Field" %>
    <%= f.collection_select(:field_id, current_user.fields, :id, :name, prompt: true) %>
  <% end %>

  <br></br>

	<p>
		<%= f.submit "Create Load" %>
	</p>
<% end %>
