<h1>All Loads</h1>

<%= link_to "New load", new_tload_path %>

<table>
	<tr>
		<th>Load In</th>
		<th>Load Out</th>
		<th>Test Weight</th>
	</tr>
	<% @tloads.each do |tload| %>
		<tr>
			<td><%= tload.load_full %></td>
			<td><%= tload.load_empty %></td>
			<td><%= tload.test_weight %></td>
			<td><%= link_to 'Show', tload_path(tload) %></td>
			<td><%= link_to 'Edit', edit_tload_path(tload) %></td>
			<td><%= link_to 'Destroy', tload_path(tload), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
