<h1><%= @name %></h1>
<h2>All Loads</h2>

<%= link_to "New load", new_tload_path %>

<table>
	<tr>
    <th>Bushels</th>
    <th>Crop</th>
    <th>Bin</th>
    <th>Field</th>
    <th>Driver</th>
	</tr>
	<% @tloads.each do |tload| %>
		<tr>
      <td><%= tload.dry_bushels %></td>
      <td><%= tload.crop %></td>
      <td><%= tload.bin.name %></td>
      <td><%= tload.field.name %></td>
      <td><%= tload.driver.name %></td>
			<td><%= link_to 'Show', tload_path(tload) %></td>
			<td><%= link_to 'Edit', edit_tload_path(tload) %></td>
			<td><%= link_to 'Destroy', tload_path(tload), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

