<%= form_for @driver do |f| %>
  <%= render partial: "layouts/errors", locals: { object: @driver } %>
 
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
