<h1><%= @name %></h1>
<h3>All Drivers</h3>

<%= link_to "New driver", new_driver_path %>

<table>
	<tr>
		<th>Driver Name</th>
	</tr>
	<% @drivers.each do |driver| %>
		<tr>
			<td><%= driver.name %></td>
			<td><%= link_to 'Show', driver_path(driver) %></td>
			<td><%= link_to 'Edit', edit_driver_path(driver) %></td>
			<td><%= link_to 'Destroy', driver_path(driver), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
