<%= link_to "Show all Loads", driver_tloads_path(@driver.id) %>
<%= link_to "Add New Load", new_driver_tload_path(@driver.id) %>
<p>
	<strong>Driver Name:</strong>
	<%= @driver.name %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %>
<%= link_to 'Back', drivers_path %>
