<%= form_for @field do |f| %>
  <%= render partial: "layouts/errors", locals: { object: @field } %>
  
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :acres %>
		<%= f.text_field :acres %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
