<%= link_to "Show all Loads", field_tloads_path(@field.id) %>
<%= link_to "Add New Load", new_field_tload_path(@field.id) %>
<p>
	<strong>Field Name:</strong>
	<%= @field.name %>
</p>

<p>
	<strong>Acres:</strong>
	<%= @field.acres %>
</p>

<p>
  <strong>Total Dry Bushels:</strong>
  <%= @total_dry_bushels %>
</p>

<p>
  <strong>Total Wet Bushels:</strong>
  <%= @total_wet_bushels %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %>
<%= link_to 'Back', fields_path %>
